<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SkillLink - Post</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
</head>
<body>
     <!--navbar-->
  <div class="navbar-container">
    <div class="navbar-left">
      <a href="home.html" style="font-size: 20px">Skillink</a>
      <a href="#">หน้าหลัก</a>
      <a href="#">โพสต์</a>
    </div>
    <button class="btn ">เข้าสู่ระบบ</button>
    <!--ไอตัว เข้าสู่ระบบ ปุ่มมันแปลกๆ-->
  </div>
  
  <div class="search-section">
   <h2>สร้างโพสต์ของคุณ</h2>
</div>
<div class="volunteer-section">
    
    <div class="sidebar2">
    <h2>#</h2>
    <p><h2>สร้างโพสต์ของคุณเลยที่นี่</h2></p>
    <a href="post.html" rel="stylesheet">
    <button class="btn2 " >สร้างโพสต์</button></a>
    <br><br>
    <button class="btn btn-light">ดูเลย</button>
</div>
<div class="volunteer-list">
    <form>
         
        <input type="text" class="input-text" id="ชื่อหัวข้อ" name="ชื่อหัวข้อ" value="ชื่อหัวข้อ">
        <br></br>
        <textarea class="textarea" name="message" >รายละเอียด</textarea>
    </form>

</div>
</div>
</div>
</body>
</html>