<h1>Login</h1>
<!-- <%= %> will escape html, but <%- %> will display html as is -->
<% if (error) { %>
<p style="color: red;"><%- error %></p>
<% } %>
<form action="/login" method="POST">

  <input type="text" name="username" placeholder="Please enter your username"
    required />
  <input type="password" name="password"
    placeholder="Please enter your password" required />

  <p>You don't have an account?<a href="/register"> Register now</a></p>
  <button type="submit">Login</button>
</form>
